In [ ]:
# 改用hdbscan取代

In [1]:
import hdbscan
import pandas as pd,os,sqlite3,warnings
warnings.filterwarnings("ignore", message=".*The 'nopython' keyword.*")
warnings.filterwarnings('ignore', category=UserWarning)
os.chdir(r'C:\Users\018363\PythonCode')
import SenaoDB
from math import ceil
from datetime import datetime
import time
import numpy as np
# pd.Timestamp.today().strftime('%Y%m%d')

In [2]:
conn=sqlite3.connect(r'C:\Users\018363\Project\20230617_sqlite3\Lab.db')
sql="""
select * from dataprocessing
"""
df=pd.read_sql(sql,conn)
df.shape

(303313, 54)

In [3]:
df_clean=df.iloc[:,1:].apply(lambda x:x.fillna(x.median()),axis=0)

In [ ]:
# hdb=hdbscan.HDBSCAN(algorithm='best', alpha=1.0, approx_min_span_tree=True,
#     gen_min_span_tree=False, leaf_size=40,core_dist_n_jobs=-1,
#     metric='euclidean', min_cluster_size=1000, min_samples=2000, p=None
#                     # , prediction_data=True                   
#                    )

In [ ]:
# %%time
# hdb.fit(df_clean.iloc[:,1:])
# pd.Series(hdb.labels_).value_counts()

In [4]:
%%time
#訓練分類器
hdb_model=hdbscan.HDBSCAN(min_cluster_size=350, min_samples=500, prediction_data=True,core_dist_n_jobs=-1).fit(df_clean.iloc[:,1:])
pd.Series(hdb_model.labels_).value_counts()

CPU times: total: 12min 24s
Wall time: 13min 44s

 49    72823
-1     42029
 19    28905
 8     10995
 47    10708
 20    10449
 38     9164
 6      8785
 11     7660
 9      7484
 15     6037
 7      5941
 16     5916
 26     5428
 31     5374
 37     4130
 30     3895
 34     3469
 18     3205
 40     3158
 3      3092
 14     2964
 1      2508
 13     2416
 0      2396
 32     2337
 42     2260
 43     2239
 12     2231
 24     1927
 17     1907
 48     1894
 36     1864
 2      1635
 28     1566
 41     1525
 44     1505
 25     1412
 33     1303
 5      1066
 27      836
 29      806
 4       785
 39      771
 22      742
 23      687
 46      680
 21      668
 45      632
 10      572
 35      532
Name: count, dtype: int64

In [5]:
#寫入sqlite
def Insert_TableV2(df):
    conn=sqlite3.connect(r'C:\Users\018363\Project\20230617_sqlite3\Lab.db')     
    df.to_sql("hdbscan_label_"+pd.Timestamp.today().strftime('%Y%m%d'), conn, if_exists='append', index=False)    
    print('寫入Lab.db') 
    return()

In [6]:
#設計隱函數1，T/F Y/N 轉換1/0 TF_list存放有被轉換的欄位
def TF_encode(data, col):
    data[col] = [1 if  i=='Y'  else 0 for i in data[col] ]
    return data

#設計隱函數2，提取日期欄位的年分
def year_encode(data, col):
    data[col + '_year']=[i.year if i!=0 else 0 for i in data[col]]
    return data

def trans_format(df):
    global tp
    tp=df.copy()
    for i in tp.select_dtypes(include=['object']):
        tp[i]=tp[i].astype('category')
       
    # #原始欄位
    raw_columns=df.columns
    
    #日期欄位-需轉換
    date_columns=tp.select_dtypes(include=['datetime64[ns]']).columns.to_list()
    #二元非1/0欄位-需轉換
    binary_colums=[i for i in tp.columns if  i.endswith('click')|i.endswith('pushing')|i.endswith('open')
               |i.endswith('login')|i.startswith('is_')|i.endswith('flag')|i.startswith('active')]
    #未轉換過的欄位(不曾轉換過&轉換完的欄位)
    keeping=[x for x in raw_columns if x not in binary_colums+date_columns]
    
    for _ in binary_colums:
        TF_encode(tp,_)
    print('完成二元欄位轉換')
    
    for _ in date_columns:
        year_encode(tp,_)
    print('完成年度欄位轉換')
    
    #月日改為差距天數
    for col in tp.select_dtypes(include=['datetime64[ns]']):
        tp[col]=[(datetime.strptime(str(i)[:10], '%Y-%m-%d')-datetime.strptime('1900-01-01', '%Y-%m-%d')).days if pd.notna(i) else 0 for i in tp[col] ] 
    print('完成天數轉換')  
    
    return()

# 讀取全會員並且批次分類

In [7]:
db=SenaoDB.DB()

In [8]:
# 每個塊的大小
batch_size = 100000

# 獲取數據集的總大小
sql="""
SELECT COUNT(*) from pmart.member_tag_mart  
--where first_ec_order_date is not NULL and active_member='Y'
"""
db.cursor.execute(sql)
total_records = db.cursor.fetchone()[0]
print('全部筆數：',total_records)

# 計算塊數量
# num_batches = total_records // batch_size
num_batches = ceil(total_records / batch_size)
print('迭代次數：',num_batches)

全部筆數： 7602427
迭代次數： 77

In [9]:
# %%time
#迭代訓練
for batch_idx in range(num_batches):
# for batch_idx  in range(0,1):
# for batch_idx  in range(297,num_batches):
    start_time = time.time()  # 開始時間
    # 查詢塊內的數據
    db.cursor.execute("""SELECT
                 member_id
                ,age
                ,birthday ::DATE
                ,sex
                ,active_member
                ,app_latest_used_date
                ,auth_date
                ,is_accept_email
                ,is_accept_sms
                ,is_email_verified
                ,cht_final_bis_date
                ,cht_pre_amt
                ,cht_pre_period
                ,cht_tenure
                ,is_txn
                ,distributor_rfm_flag
                ,first_ec_order_date
                ,first_o2o_order_date
                ,first_order_date
                ,first_pos_order_date
                ,first_pos_order_date_contract
                ,lastest_ec_order_date
                ,lastest_o2o_order_date
                ,lastest_order_date
                ,lastest_pos_order_date
                ,lastest_pos_order_date_contract
                ,click_1month_before_pushing
                ,click_2months_before_pushing
                ,click_3months_before_pushing
                ,click_1month_after_pushing
                ,click_2months_after_pushing
                ,click_3months_after_pushing
                ,this_month_click
                ,this_month_open
                ,last_month_open
                ,this_month_open_click
                ,last_month_open_click
                ,last_3months_login
                from pmart.member_tag_mart OFFSET %s LIMIT %s
                """, (batch_idx * batch_size, batch_size))
    rows = db.cursor.fetchall()
    
    # 獲取欄位名稱
    columns = [desc[0] for desc in db.cursor.description]

    # 將結果轉換為DataFrame
    df = pd.DataFrame(rows, columns=columns).fillna(0)
    
    #原始欄位
    raw_columns=df.columns
#     print('處理前欄位列表',raw_columns)
    #日期欄位-需轉換
    date_columns=[i for i in df.columns if  i.endswith('date') | i.endswith('_date_contract')|i.startswith('birth') | i.endswith('day')]

    #二元非1/0欄位-需轉換
    binary_colums=[i for i in df.columns if  i.endswith('click')|i.endswith('pushing')|i.endswith('open')
               |i.endswith('login')|i.startswith('is_')|i.endswith('flag')|i.startswith('active')]

    #未轉換過的欄位(不曾轉換過&轉換完的欄位)
    keeping=[x for x in raw_columns if x not in binary_colums+date_columns]  
    
    #轉時間
    for i in date_columns:
        try:
            df[i]=pd.to_datetime(df[i], errors='coerce',format='%Y-%m-%d  %H:%M:%S')    
#     tp[date_columns] = pd.to_datetime(tp[date_columns], errors='coerce',format='%Y-%m-%d')
        except:
            print(i)
    
    #轉文字
    #for i in tp.select_dtypes(include=['category']).columns.tolist():
    #    tp[i]=tp[i].astype('object')
        
    df['cht_pre_period']=df['cht_pre_period'].astype(int)
    
    df['cht_pre_amt']=df['cht_pre_amt'].astype(int)
    
   #執行轉換
    trans_format(df)    
            
    #one-hot-encoding
    one_hot_columns=[]
    one_hot_columns=tp.select_dtypes(include=['category']).columns.tolist()
    one_hot_columns.remove('member_id')
    
    #clone df
    df3=tp[one_hot_columns].copy()
    df_dummy=pd.get_dummies(df3,dtype=int)    
    df_final=pd.concat([tp.loc[:,~tp.columns.isin(one_hot_columns)], df_dummy], axis=1)
#     df_final=tp.loc[:,~tp.columns.isin(one_hot_columns)]
    print('分類資料維度：',df_final.shape)
    # 將數據轉換為NumPy數組
    # X = np.array(df_final.iloc[:,1:].fillna(0))

    #可以不轉nparray
    X = df_final.iloc[:,1:].fillna(0)

    # 使用分類器分類
    test_labels, strengths = hdbscan.approximate_predict(hdb_model,X.iloc[:,1:])
    end_time = time.time()  # 結束時間
    processing_time = end_time - start_time  # 處理時間（秒）
    print("Processed batch", batch_idx + 1, "of", num_batches,'處理時間(秒)：',processing_time)

#獲取每個樣本的分類
    labels = test_labels

#分群結果
    result=pd.DataFrame({'member_id':df['member_id'],'Group':labels,'CreateDate':datetime.today().strftime('%Y%m%d')})
    print(result['Group'].value_counts().sort_index())

#將結果存儲到SQLite3
    try:
        Insert_TableV2(result)
    except psycopg2.OperationalError as e:
        print("資料庫連結異常：", str(e))

try:
    engine.dispose()
except:
    pass
# 提交並關閉連接
# conn.commit()
# cur.close()
# conn.close()

完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 1 of 77 處理時間(秒)： 450.80958914756775
Group
-1     76594
 0     21439
 1         4
 2         4
 3         3
 4         7
 6        34
 7        76
 8        83
 9       117
 10        1
 11       90
 12       10
 13       19
 14       12
 15       82
 16        7
 19       40
 20       35
 22        2
 23       14
 24       20
 25      121
 26      311
 27       29
 28       49
 29       12
 30       43
 31      415
 32      214
 33        5
 34        3
 36        1
 37       40
 38       64
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 2 of 77 處理時間(秒)： 426.27782702445984
Group
-1     77711
 0     20418
 1         5
 2         8
 3         3
 4         6
 6        26
 7        74
 8        72
 9       123
 11       84
 12        5
 13       20
 14       17
 15       63
 16        7
 19       20
 20       21
 22        4
 23        5
 24       18
 25      119
 26      317
 27       30
 28       34
 29       14
 30       48
 31      412
 32      208
 33        2
 34        8
 37       29
 38       69
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 3 of 77 處理時間(秒)： 396.9658064842224
Group
-1     76873
 0     21282
 1         9
 2         1
 3         5
 4         6
 6        36
 7        56
 8        88
 9       106
 11       64
 12        5
 13       19
 14       25
 15       76
 16        8
 19       24
 20       21
 22        3
 23       11
 24       12
 25      106
 26      303
 27       35
 28       35
 29       13
 30       42
 31      389
 32      212
 33        1
 34       10
 36        2
 37       43
 38       79
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 4 of 77 處理時間(秒)： 393.50512766838074
Group
-1     71203
 0     27037
 1         6
 2         3
 3         3
 4         6
 6        32
 7        64
 8        72
 9        86
 11       73
 12        6
 13       21
 14       22
 15       67
 16        4
 19       29
 20       23
 22        1
 23       14
 24       26
 25      108
 26      306
 27       31
 28       38
 29       14
 30       33
 31      379
 32      205
 33        3
 34        4
 36        3
 37       33
 38       45
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 5 of 77 處理時間(秒)： 390.42948961257935
Group
-1     68802
 0     29395
 1         3
 2         6
 3         2
 4         5
 6        26
 7        50
 8        67
 9       111
 10        1
 11       62
 12        9
 13       22
 14       11
 15       72
 16        6
 19       24
 20       12
 22        5
 23        9
 24       22
 25      133
 26      293
 27       35
 28       53
 29       13
 30       26
 31      403
 32      204
 33        3
 34        1
 36        5
 37       38
 38       71
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 6 of 77 處理時間(秒)： 395.7622525691986
Group
-1     74344
 0     23763
 1         5
 2        11
 3         5
 4         7
 6        31
 7        59
 8        76
 9       117
 11       80
 12        3
 13       24
 14       19
 15       68
 16        5
 19       31
 20       20
 22        5
 23        5
 24       19
 25      111
 26      331
 27       35
 28       43
 29       15
 30       44
 31      400
 32      219
 33        2
 34        7
 36        2
 37       30
 38       64
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 7 of 77 處理時間(秒)： 396.89333868026733
Group
-1     77802
 0     20343
 1         2
 2         3
 3         1
 4         5
 6        26
 7        76
 8        65
 9       116
 11       93
 12        5
 13       23
 14       19
 15       70
 16        4
 19       26
 20       23
 22        3
 23        6
 24       25
 25      115
 26      304
 27       29
 28       42
 29        9
 30       46
 31      387
 32      211
 33        1
 34        9
 35        1
 37       44
 38       66
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 8 of 77 處理時間(秒)： 396.3288240432739
Group
-1     76926
 0     21167
 1         1
 2         3
 3         4
 4         5
 6        41
 7        82
 8        62
 9       120
 11       70
 12        6
 13       18
 14       20
 15       80
 16        5
 19       23
 20       23
 22        3
 23        9
 24       15
 25      121
 26      334
 27       30
 28       39
 29       11
 30       43
 31      423
 32      198
 33        1
 34        6
 36        1
 37       36
 38       74
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 9 of 77 處理時間(秒)： 396.7439293861389
Group
-1     73972
 0     24137
 1         1
 2         5
 3         5
 4         7
 6        28
 7        69
 8        81
 9        94
 10        1
 11       64
 12        5
 13       18
 14       19
 15       75
 16        4
 19       25
 20       23
 22        3
 23       11
 24       21
 25      114
 26      329
 27       30
 28       37
 29       13
 30       41
 31      432
 32      222
 34        6
 36        2
 37       43
 38       63
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 10 of 77 處理時間(秒)： 394.597003698349
Group
-1     71980
 0     26112
 1         1
 2         6
 3         1
 4         5
 5         1
 6        27
 7        73
 8        79
 9       110
 11       82
 12        9
 13       12
 14        7
 15       71
 16        9
 19       32
 20       22
 22        2
 23       10
 24       27
 25      121
 26      325
 27       29
 28       36
 29       18
 30       37
 31      419
 32      219
 34        8
 36        2
 37       33
 38       75
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 11 of 77 處理時間(秒)： 395.5625264644623
Group
-1     76525
 0     21504
 1         1
 2         4
 3         1
 4         4
 6        37
 7        81
 8        89
 9       117
 11       65
 12       12
 13       22
 14       20
 15       80
 16        5
 19       23
 20       29
 22        5
 23        7
 24       14
 25      133
 26      363
 27       34
 28       46
 29       14
 30       50
 31      383
 32      201
 33        4
 34        9
 35        1
 36        1
 37       44
 38       72
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 12 of 77 處理時間(秒)： 394.0150353908539
Group
-1     74457
 0     23719
 1         2
 2         2
 3         2
 4         7
 6        35
 7        68
 8        66
 9       111
 11       67
 12        4
 13       18
 14       19
 15       78
 16        3
 19       18
 20       23
 22        2
 23       12
 24       18
 25      112
 26      373
 27       23
 28       32
 29        9
 30       42
 31      380
 32      185
 33        1
 34        5
 36        1
 37       36
 38       70
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 13 of 77 處理時間(秒)： 394.54104018211365
Group
-1     75310
 0     22766
 1         5
 2         6
 3         1
 4         4
 6        35
 7        68
 8        65
 9       124
 10        2
 11       60
 12        5
 13       28
 14       19
 15       80
 16        7
 19       29
 20       24
 22        5
 23       10
 24       17
 25      131
 26      354
 27       20
 28       39
 29       15
 30       49
 31      376
 32      211
 33        1
 34        7
 36        2
 37       40
 38       85
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 14 of 77 處理時間(秒)： 391.97148966789246
Group
-1     69984
 0     28201
 1         5
 2         2
 3         1
 4         5
 5         2
 6        26
 7        56
 8        95
 9       116
 10        1
 11       68
 12        5
 13       16
 14       14
 15       62
 16        7
 19       29
 20       15
 22        4
 23       11
 24       31
 25      116
 26      331
 27       31
 28       43
 29       13
 30       50
 31      371
 32      199
 34        4
 35        2
 36        3
 37       38
 38       43
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 15 of 77 處理時間(秒)： 392.7898418903351
Group
-1     72665
 0     25412
 1         4
 2         2
 3        10
 4         4
 6        36
 7        70
 8        68
 9       111
 11       78
 12        7
 13       24
 14       18
 15       63
 16        8
 19       30
 20       16
 22        1
 23       10
 24       21
 25      129
 26      366
 27       25
 28       27
 29       14
 30       51
 31      420
 32      176
 33        1
 34        8
 36        2
 37       42
 38       81
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 16 of 77 處理時間(秒)： 397.25155305862427
Group
-1     76204
 0     21834
 1         1
 2         4
 3         5
 4         5
 6        35
 7        66
 8        77
 9       113
 11       86
 12       11
 13       26
 14       23
 15       73
 16        5
 17        1
 19       30
 20       25
 22        5
 23        7
 24       18
 25      116
 26      345
 27       31
 28       47
 29       11
 30       48
 31      408
 32      215
 33        2
 34        6
 36        2
 37       33
 38       82
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 17 of 77 處理時間(秒)： 399.38349986076355
Group
-1     77291
 0     20746
 1         3
 2         7
 3         2
 4         6
 5         1
 6        28
 7        71
 8        82
 9       113
 10        1
 11       79
 12       11
 13       21
 14       14
 15       70
 16        5
 19       26
 20       26
 22        9
 23       10
 24       21
 25      111
 26      338
 27       35
 28       48
 29        8
 30       47
 31      442
 32      213
 33        2
 34        4
 36        3
 37       38
 38       68
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 18 of 77 處理時間(秒)： 392.5957832336426
Group
-1     71745
 0     26298
 1         3
 2         3
 3         2
 4         5
 6        31
 7        70
 8        80
 9       131
 11       86
 12        9
 13       17
 14       14
 15       77
 16        2
 18        1
 19       20
 20       24
 22        3
 23        5
 24       24
 25      114
 26      345
 27       29
 28       41
 29       20
 30       30
 31      417
 32      227
 33        4
 34        6
 37       51
 38       66
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 19 of 77 處理時間(秒)： 399.1835091114044
Group
-1     79246
 0     19053
 1         3
 2         4
 4         5
 6        41
 7        56
 8        67
 9        87
 10        2
 11       76
 12        7
 13       12
 14       12
 15       84
 16        4
 19       26
 20       21
 22        1
 23        7
 24       15
 25      116
 26      304
 27       31
 28       30
 29       11
 30       39
 31      380
 32      179
 34        4
 37       22
 38       55
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 20 of 77 處理時間(秒)： 392.76493191719055
Group
-1     71076
 0     27025
 1         4
 2         4
 3         3
 4         7
 5         1
 6        28
 7        66
 8        63
 9       117
 10        1
 11       75
 12        9
 13       27
 14       23
 15       72
 16       11
 19       24
 20       24
 22        1
 23       14
 24       24
 25      120
 26      331
 27       21
 28       27
 29       20
 30       31
 31      427
 32      206
 33        2
 34        5
 35        1
 36        1
 37       39
 38       70
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 21 of 77 處理時間(秒)： 395.21259784698486
Group
-1     73487
 0     24786
 1         2
 2         4
 3         1
 4         8
 6        37
 7        55
 8        55
 9        96
 11       69
 12        5
 13       18
 14       18
 15       66
 16        2
 19       35
 20       25
 22        5
 23        8
 24       15
 25      113
 26      314
 27       29
 28       42
 29       19
 30       40
 31      378
 32      176
 33        2
 34        6
 35        1
 37       27
 38       56
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 22 of 77 處理時間(秒)： 392.2520024776459
Group
-1     71790
 0     26491
 1         4
 2         6
 3         3
 4         7
 5         1
 6        32
 7        44
 8        71
 9       117
 11       54
 12        6
 13       16
 14       17
 15       80
 16        6
 18        1
 19       19
 20       17
 22        2
 23       13
 24       20
 25      114
 26      295
 27       30
 28       35
 29       15
 30       41
 31      354
 32      184
 34        9
 35        1
 36        1
 37       35
 38       69
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 23 of 77 處理時間(秒)： 397.9089834690094
Group
-1     79604
 0     18226
 1         7
 2         6
 3         3
 4        10
 6        30
 7        80
 8        97
 9       148
 11       87
 12        5
 13       30
 14       21
 15       94
 16        8
 18        1
 19       34
 20       31
 22        4
 23        8
 24       25
 25      140
 26      326
 27       43
 28       44
 29       19
 30       32
 31      437
 32      239
 33        1
 34        9
 35        1
 36        2
 37       44
 38      104
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 24 of 77 處理時間(秒)： 396.6773874759674
Group
-1     75141
 0     23002
 1         6
 2         6
 3         2
 4         8
 6        38
 7        68
 8        63
 9       112
 11       84
 12        9
 13       24
 14       24
 15       70
 16        6
 19       33
 20       23
 22        2
 23       10
 24       18
 25      126
 26      296
 27       27
 28       39
 29        7
 30       51
 31      394
 32      197
 33        4
 34        7
 35        1
 37       33
 38       69
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 25 of 77 處理時間(秒)： 390.5405180454254
Group
-1     68532
 0     29676
 1         1
 2         3
 3         4
 4         7
 6        21
 7        40
 8        63
 9       102
 11       60
 12        6
 13       19
 14       14
 15       61
 16       10
 19       29
 20       25
 22        1
 23        5
 24       36
 25      135
 26      318
 27       35
 28       37
 29       16
 30       37
 31      386
 32      196
 33        3
 34        6
 36        4
 37       43
 38       69
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 26 of 77 處理時間(秒)： 397.56278252601624
Group
-1     77789
 0     20229
 1         3
 2         2
 4         3
 6        32
 7        73
 8        75
 9       121
 11       75
 12        8
 13       25
 14       23
 15       81
 16        6
 19       28
 20       33
 22        5
 23        7
 24       14
 25      142
 26      320
 27       34
 28       46
 29       14
 30       47
 31      427
 32      208
 33        3
 34       11
 36        2
 37       42
 38       72
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 27 of 77 處理時間(秒)： 397.23269152641296
Group
-1     77515
 0     20648
 1         6
 2         6
 3         2
 4         6
 5         1
 6        32
 7        70
 8        80
 9       109
 10        2
 11       76
 12       12
 13       22
 14       24
 15       55
 16        7
 19       25
 20       32
 22        2
 23        9
 24       18
 25      118
 26      308
 27       36
 28       41
 29       12
 30       28
 31      389
 32      204
 33        1
 34        9
 36        2
 37       28
 38       65
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 28 of 77 處理時間(秒)： 400.3042597770691
Group
-1     81399
 0     16739
 1        12
 2         7
 3         1
 4         5
 6        37
 7        64
 8        75
 9       106
 11       73
 12        8
 13       23
 14       15
 15       60
 16        3
 19       15
 20       21
 22        3
 23        3
 24       16
 25      127
 26      311
 27       30
 28       38
 29        8
 30       40
 31      425
 32      224
 33        3
 34        7
 36        2
 37       37
 38       63
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 29 of 77 處理時間(秒)： 390.9008159637451
Group
-1     68967
 0     29327
 1         4
 2         4
 3         2
 4         6
 6        36
 7        48
 8        60
 9        96
 10        2
 11       78
 12        9
 13       25
 14       21
 15       72
 16        9
 19       25
 20       17
 22        2
 23        2
 24       14
 25      116
 26      287
 27       23
 28       31
 29       18
 30       40
 31      404
 32      172
 33        2
 34        9
 37       31
 38       41
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 30 of 77 處理時間(秒)： 396.3759388923645
Group
-1     70495
 0     27642
 1         4
 2         5
 4         6
 5         1
 6        37
 7        68
 8        57
 9       116
 10        1
 11       76
 12        4
 13       12
 14       20
 15       68
 16        5
 19       27
 20       33
 22        3
 23       16
 24       22
 25      136
 26      327
 27       40
 28       33
 29       12
 30       40
 31      387
 32      203
 33        2
 34        4
 36        2
 37       36
 38       60
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 31 of 77 處理時間(秒)： 392.21589708328247
Group
-1     67489
 0     30688
 1         6
 2        11
 3         2
 4         6
 6        28
 7        59
 8        62
 9       108
 10        1
 11       71
 12        6
 13       17
 14        8
 15       72
 16        8
 19       28
 20       38
 22        4
 23       10
 24       19
 25      120
 26      335
 27       30
 28       39
 29       16
 30       52
 31      360
 32      194
 33        1
 34        7
 35        1
 37       44
 38       60
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 32 of 77 處理時間(秒)： 401.9768373966217
Group
-1     81047
 0     16834
 1         4
 2         4
 3         2
 4         7
 6        29
 7        77
 8        62
 9       140
 11       92
 12       13
 13       32
 14       22
 15      118
 16        5
 18        1
 19       25
 20       24
 22        4
 23        4
 24       22
 25      122
 26      365
 27       26
 28       44
 29       13
 30       33
 31      467
 32      213
 33        3
 34       10
 36        3
 37       44
 38       89
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 33 of 77 處理時間(秒)： 406.7353687286377
Group
-1     75703
 0     22398
 1         6
 2         7
 4         9
 6        27
 7        68
 8        83
 9       101
 10        1
 11       75
 12        4
 13       19
 14       12
 15       64
 16        6
 19       32
 20       22
 22        5
 23       14
 24       17
 25      122
 26      368
 27       31
 28       33
 29       13
 30       55
 31      404
 32      205
 33        2
 34        5
 36        1
 37       23
 38       65
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換
完成天數轉換
分類資料維度： (100000, 54)
Processed batch 34 of 77 處理時間(秒)： 530.6413342952728
Group
-1     76143
 0     21758
 1         4
 2        10
 3         3
 4         6
 6        29
 7        81
 8        83
 9       146
 11       90
 12        8
 13       18
 14       23
 15       82
 16        5
 19       27
 20       23
 22        3
 23       10
 24       23
 25      138
 26      351
 27       34
 28       39
 29       17
 30       47
 31      430
 32      228
 33        1
 34       17
 36        6
 37       44
 38       73
Name: count, dtype: int64
寫入Lab.db
完成二元欄位轉換
完成年度欄位轉換

OperationalError: server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

In [ ]:
# df_dummy

In [ ]:
#分類新數據
# test_labels, strengths = hdbscan.approximate_predict(hdb_model,df_clean.iloc[10000:10100,1:])
# test_labels

In [ ]:
# hdbscan_result=df_clean.iloc[:40000,:1].copy()
# hdbscan_result=df.iloc[:,:1].copy()
# hdbscan_result['HDBSCAN']=hdb.labels_
# hdbscan_result['createdate']=pd.Timestamp.today().strftime('%Y%m%d')

# 讀取結果

In [ ]:
#%%time
#檢查結果
conn=sqlite3.connect(r'C:\Users\018363\Project\20230617_sqlite3\Lab.db')
sql=f"""
select * from {"hdbscan_label_"+datetime.today().strftime('%Y%m%d')}
"""
df22=pd.read_sql(sql,conn)
df22.shape

In [ ]:
#寫入EDW
def Insert_Table(df,table_name,schema):
    db=SenaoDB.DB()
    engine=db._engine
    df.to_sql(table_name, engine,schema=schema,if_exists='replace',index=False)    
    print('寫入')
    return()
    engine.dispose()
    db.close()

In [ ]:
Insert_Table(df22,'anio_hdbscan_result','ptest')

# 計算各群推薦賣場

In [3]:
help(db)

Help on DB in module SenaoDB object:

class DB(builtins.object)
 |  這個套件是用來連線神腦EDW
 |  使用套件，初始化DB()會直接連接DB、也會啟動db._conn
 |  db=DB()
 |  可以使用的函數是：
 |  1.db._connect()
 |  2.db.close()
 |  可以使用的語法是：
 |  db.cursor.execute(sql)
 |  db.connection.commit()
 |
 |  可以使用的物件
 |  cnxn=db._conn
 |  engine=db._engine
 |
 |  上傳資料範例
 |  df.to_sql('anio_StoreTrafficV6', engine, schema='ptest', if_exists='append', index=False)
 |
 |  Methods defined here:
 |
 |  __init__(self)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  close(self)
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  connection
 |
 |  cursor
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [ ]:
sql="""
--step1.執行迴圈
truncate table ptest.Group_recommend_result;

select ptest.anio_recommend_by_cluster_hdbscan();
"""
db.cursor.execute(sql)
db.connection.commit()